*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #4d4d4d;
}
#login{
    background-color: white;
    width: 400px;
    height: 400px;
    position:absolute;
    top:-400px;
    left:35%;
    border-radius: 20px;
    padding: 40px;
}
#login h1{
    color: #4d4d4d;
}
#login input{
    height: 40px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    color: #4d4d4d;
    outline-color: none;
    background-color: rgb(243, 243, 243);
}
#login button{
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color: #4d4d4d;
    color: white;
    border: none;
    border-radius: 10px;
    display: block;
    margin-top: 20px;
}
.alerta{
    background-color: red;
    color: white;
    display: block;
    padding: 5px;
    display: none;
}